.loader{
    position: fixed;
    top: 50%;
    left:50%;
    z-index: 88;
}


html {
    font-family: sans-serif;
  }
  
  div:first-of-type {
    align-items: flex-start;
    margin-bottom: 5px;
  }
  
  label {
    margin-right: 15px;
    line-height: 32px;
  }
  
  .myInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #4BC7C1;
    /* transition: 0.2s all linear; */
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  .myInput:checked {
    border: 6px solid #4BC7C1;
  }
  
  
  legend {
    color: white;
    background-color: #4BC7C1;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
  }
  

