<div  *ngIf="isLoading" class="loader flex justify-center items-center "></div>
<div class="w-full h-[100%] flex">
        <!-- sidebar -->
        <div *ngIf="showSidebar">
          <app-admin-side-nav></app-admin-side-nav>
        </div>
        <!-- sidebar end -->



        <div class="flex-1">

          <!-- header start -->
    <div class="w-full flex justify-end items-center h-16 bg-grey pr-4 py-4">
      <div class="h-full">
        <h1 class="text-2xl font-light ml-auto flex">
         {{name}}
        </h1>
      </div>
    </div>
    <!-- header end -->

            <!-- Dashboard card start -->
           <div class="w-100 fullHight p-2 overflow-scroll">


              <div class="lg:grid grid-cols-1 gap-4 ">
                <div
                  class="block p-8 bg-grey m-8 rounded-lg col-span-2" >

                  <div class="flex justify-between items-center">
                    <h1 class="text-xl font-bold">Bookings</h1>
                    <div class="flex justify-center">

                       <div class="input-group relative  w-60 rounded">
                           <span class="input-group-text flex items-center px-1 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap bg-white rounded" id="basic-addon2" >

                            <img  src="../../../../assets/icons/search.svg">

                            </span>
                            <input type="search" class="form-control relative flex-auto min-w-0 px-1 py-1.5 text-base font-normal  rounded transition ease-in-out m-0 " placeholder="Search by Full Name" aria-label="Search" aria-describedby="" [(ngModel)]="searchText">
                        </div>

                    </div>
                </div>
                  <!-- </div> -->
                  <div class="flex flex-col mb-5">
                    <div class="overflow-x-auto sm:-mx-6 ls:-mx-8">
                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                          <table class="min-w-full">
                            <thead class="border-b">
                              <tr>
                                <th
                                  scope="col"
                                  class="text-sm font-medium text-gray-900 py-4 text-left"
                                >
                                 No
                                </th>
                                <th
                                scope="col"
                                class="text-sm font-medium text-gray-900 py-4 text-left"
                              >
                               NAME
                              </th>
                              <th
                              scope="col"
                              class="text-sm font-medium text-gray-900 py-4 text-left"
                            >
                             EMAIL
                            </th>
                                <th
                                  scope="col"
                                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                                >
                                  DATE
                                </th>
                                <th
                                  scope="col"
                                  class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                                >
                                 TIME
                                </th>

                              </tr>
                            </thead>

                            <tbody>



                              <tr *ngFor="let booking of bookings let i = index"  class="border-b">

                                  <td class=" py-4 ml-1 whitespace-nowrap text-sm font-light text-gray-900">
                                    {{i + 1 }}
                                   </td>
                                   <td
                                  class="py-4 whitespace-nowrap text-sm font-light text-gray-900"
                                >{{booking.UserFk.firstname}}
                                 </td>
                                 <td
                                  class="py-4 whitespace-nowrap text-sm font-light text-gray-900"
                                >{{booking.UserFk.email}}
                                 </td>
                                  <td
                                  class="py-4 whitespace-nowrap text-sm font-light text-gray-900"
                                >{{booking.date}}
                                 </td>
                                <td
                                class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
                                >{{booking.time}}
                                </td>


                              </tr>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

          </div>
          <!-- Dashboard card end -->

        </div>

      </div>

      <!--Sidebar menu button-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        (click)="onShowSidebar()"
        width="46"
        height="46"
        fill="#ffffff"
        class="bi bi-list cursor-pointer fixed top-2 left-2"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
      <!-- side menu button end -->




