
<div class=" justify-center flex inline-flex mx-4 my-4"> 
    <a (click)="back()" ><img class ="" src= "../../../../assets/icons/back.svg" alt=""></a>
    <label class="mx-10 font-bold">Journal</label>
    </div>
    <div>
        <p class="mx-10 my-4 text-green">Recent Entries..</p>
    </div>
<div class="max-w-full rounded overflow-hidden shadow-lg">
 
  <div class="px-6 pt-4 pb-2"  >
    <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-2">{{list.title}}
      <br>
    <p class="text-sm font-semibold mt-3 text-gray-700">{{list.description}}</p>
  </div>

  <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-2">{{list.title}}
    <br>
  <p class="text-sm font-semibold mt-3 text-gray-700">{{list.description}}</p>
</div>

    <!-- <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-4">#travel
      <br>
      <p class="text-sm font-semibold mt-3 text-gray-700">Overwhelmed..</p>
    </div>
    
    <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-4">#winter
      <br>
      <p class="text-sm font-semibold mt-3 text-gray-700">Emortionally Drained....</p>
    </div>

    <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-4">#winter
      <br>
      <p class="text-sm font-semibold mt-3 text-gray-700">Growth...</p>
    </div> -->

    <div class="flex justify-end pl-20 mx-auto px-3 py-1"><img src="../../../../assets/icons/notes.svg" alt=""></div>
  </div>

</div>


