
<div class=" justify-center flex inline-flex mx-4 my-4"> 
    <a (click)="back()" ><img class ="" src= "../../../../assets/icons/back.svg" alt=""></a>
    <label class="mx-10 font-bold">{{name}}'s Journal</label>
    </div>
  <div class="max-w-full rounded overflow-hidden shadow-lg">
  
  <div class="px-6 pt-4 pb-2" *ngFor="let journal of journals" >
    <div class=" bg-grey rounded px-3 py-1 text-sm font-semibold text-gray-400 mr-4 mb-2" (click)="run(journal.id)">{{journal.title}}
      <br>
    <p class="text-sm font-semibold mt-3 text-gray-700">{{journal.description}}</p>
  <!-- </div>
  
    <div class="flex justify-end pl-20 mx-auto px-3 py-1"><img src="../../../../assets/icons/notes.svg" alt=""></div>
  </div> -->
  
  </div>
  
  
  
  