<div class="  flex inline-flex mx-4 my-4"> 
    <a (click)="back()" ><img class ="" src= "../../../../assets/icons/back.svg" alt=""></a>
    <label class="mx-10 font-bold">Jounal Details</label>
    
</div>

<div class=" mt-8 p-6 flex items-center">   
    <h2 class="font-size: large;"><strong>{{journalObj.date| date }}</strong></h2>
</div>
   <!-- journal title -->
  <div class="m-6 p-4">
    <h1 class="font-size: large">{{journalObj.title}}</h1>
   
  </div>

  <!-- journal body -->
 
  <div class="m-6 p-4 ">
    <p>{{journalObj.description}}</p>
  </div>

<!-- 
  <label for="my-modal-3" class="cursor-pointer modal-button  w-100% mt-4 mb-4 ml-8 py-1 px-4 text-white flex justify-end pl-20 mx-auto" ><img src="../../../../assets/icons/edit.svg" alt=""></label> -->
  






