
 
<div class="w-full h-[100%] flex">
 

  <div class="card w-full px-2 bg-base-100">
  
    <div class="  flex inline-flex mx-4 my-4"> 
      <a (click)="back()" ><img class ="" src= "../../../../assets/icons/back.svg" alt=""></a>
      <label class="mx-10 font-bold">FAQs</label>
      

    </div>

    
  <div class=" w-full px-2 bg-base-100  mt-10">
   
  
    
    <div class="card-body px-2">
    <div class="title mt-12 mb-2 p-4">
            <strong>FAQs</strong>
     </div>
     <div tabindex="3" class="collapse collapse-arrow">
      <div class="collapse-title text-xl font-medium">
       Why TwoMinds?
      </div>
      <div class="collapse-content border-t-2 border-grey">
        <p>TwoMinds came about as there are two brains that come together to fight depression  </p>
      </div>
    </div>
    <div tabindex="3" class="collapse collapse-arrow">
        <div class="collapse-title text-xl font-medium">
         What are the benefits of taking assessments?
        </div>
        <div class="collapse-content border-t-2 border-grey">
          <p>Employees will be educated and be able to recognize depression early. And how to open up with the pressure at work. </p>
      </div>
    </div>
    <div tabindex="3" class="collapse collapse-arrow">
        <div class="collapse-title text-xl font-medium">
         Who are the therapists?
        </div>
        <div class="collapse-content border-t-2 border-grey">
          <p>Two minds therapists are licenced
            proffessional therapist. All of them
            have degrees while their experience, expertise and backgroud vary. </p>
      </div>

    </div>
    <div tabindex="3" class="collapse collapse-arrow">
        <div class="collapse-title text-xl font-medium">
         How many days do I have to wait for results?
        </div>
        <div class="collapse-content border-t-2 border-grey">
          <p>Our therapists will review patients daily assessments and provide a result report accordingly after 4 days </p>
      </div>

    </div>

</div>
